<app-header type="details"></app-header>

<div class="container content" *ngIf="weather">
  <div class="title-details">
    <h1>Weather in {{ weather.name }}</h1>
    <small class="actual-day">{{ weather.dt |  amFromUnix | amDateFormat:'HH:mm MMMM DD' }}</small>
  </div>
  <div class="card">
    <section class="card-top">
      <div class="aside-card">
        <div class="data-top">
          <h2>17 ºC</h2>
        </div>
        <div class="data-bottom">
          <div class="icon-weather">
            <img src="http://openweathermap.org/img/w/{{ data.icon }}.png" alt="" srcset="" *ngFor="let data of weather.weather">
          </div>
          <small *ngFor="let data of weather.weather">{{ data.description }}</small>
        </div>
      </div>
      <div class="section-card">
        <div class="section-card-data">
          <div class="main-label">
            <label for="">Máx</label>
          </div>
          <div class="main-data">
            <span class="max"> {{ weather.main.temp_max }} °C</span>
          </div>
        </div>
        <div class="section-card-data">
          <div class="main-label">
            <label for="">Mín</label>

          </div>
          <div class="main-data">
            <span class="min">{{ weather.main.temp_min }} °C</span>
          </div>
        </div>
        <div class="section-card-data">
          <div class="main-label">
            <label for="">Sunrise</label>
          </div>
          <div class="main-data">
            <span>{{ weather.sys.sunrise |  amFromUnix | amDateFormat:'HH:mm' }}</span>
          </div>
        </div>
        <div class="section-card-data">
          <div class="main-label">
            <label for="">Sunset</label>

          </div>
          <div class="main-data">
            <span>{{ weather.sys.sunset |  amFromUnix | amDateFormat:'HH:mm' }}</span>
          </div>
        </div>
      </div>
    </section>
    <section class="card-forecasts">
      <div class="title-bottom">
        <h3>5 day weather forecast</h3>
      </div>
      <div class="list-forecasts">
        <ul>
          <li class="active forecast" *ngFor="let weather of weathers" [ngClass]="isToday(weather.dt_txt)">
            <div class="day">
              <p>{{ weather.dt_txt |  amLocale:'en' | amDateFormat:'ddd DD MMM' }}</p>
              <small class="today" *ngIf="isTodayText(weather.dt_txt)">Today</small>
            </div>
            <div class="type">
              <img src="http://openweathermap.org/img/w/{{ weather.weather[0].icon }}.png" alt="" srcset="">
              <small>{{ weather.weather[0].description }}</small>
            </div>
            <div class="results">
                <span class="max"> {{ weather.main.temp_max }}°C</span>
                <span class="min"> {{ weather.main.temp_min }}°C</span>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </div>

</div>
