<div class="header" id="header">
    <div class="back" id="back" (click)="back()">
        <i class="icon-back ion-android-arrow-back" ></i>
    </div>
    <div class="header-inner">
        <form [formGroup]="formSearch" (ngSubmit)="search($event)">
            <div class="input-group">
                <label for="search" id="label">WEATHER IN YOUR CITY</label>
                <input type="search" name="search" id="search_input" placeholder="Your city name" (input)="searchKeyPress($event.target.value)" [(ngModel)]="sea.search" formControlName="search">
                <i class="icon-search ion-ios-search-strong" id="icon-search"></i>
            </div>  
        </form>
    </div>
</div>